@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: var(--Dark_Blue); */
  background-color: #fff9ec;
  /* background-color: #121212; */
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

--White: #ffffff;

  --Dark_Mode_BG: #121212;
  --Nav_Color: #251717;
  --Med_Dark_Mode_BG: #d79898;
  --Dark_Mode_Text: #e0e0e0;
}

section{
  border-radius: 20px;
  box-shadow: #251717 0px 5px 10px -10px;
  margin: 20px 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}






/* */
/* */
/* */