@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Dark_Blue: #192655
  --Light_Blue: #46AADF
  --White: #ffffff
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.link:hover{
  color: #58dc5c;
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #58dc5c;
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}



button:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  background-color: #1d8b31;
}

/* */
/* */
/* */